In [1]:
import json

In [2]:
# JSON input from lesson_progress table in the DB
json_input = '{ "at_score": "-1", "datamodel": { "cmi": { "core": { "course_id": "75001", "student_id": 9, "student_name": "student6@email.com", "lesson_location": "l0e11" }, "objectives": { "count": 8, "items": [ { "id": 11, "type": "MT1", "status": "failed", "reading": true, "writing": false, "speaking": false, "listening": false, "score_raw": 0, "items_order_info": "Activity 1" }, { "id": 2, "type": "TYP", "status": "not passed", "reading": true, "writing": true, "speaking": false, "listening": true, "score_raw": 0, "items_order_info": "Activity 2" }, { "id": 3, "type": "SR1", "status": "not passed", "reading": true, "writing": false, "speaking": true, "listening": true, "score_raw": 0, "items_order_info": "Activity 3" }, { "id": 4, "type": "DMC", "status": "not passed", "reading": true, "writing": false, "speaking": false, "listening": true, "score_raw": 0, "items_order_info": "Quiz" }, { "id": 5, "type": "MMM", "status": "not passed", "reading": true, "writing": false, "speaking": false, "listening": false, "score_raw": 0, "items_order_info": "Quiz" }, { "id": 6, "type": "MRW", "status": "not passed", "reading": true, "writing": false, "speaking": false, "listening": false, "score_raw": 0, "items_order_info": "Quiz" }, { "id": 7, "type": "DMC", "status": "not passed", "reading": true, "writing": false, "speaking": false, "listening": false, "score_raw": 0, "items_order_info": "Quiz" }, { "id": 8, "type": "TYP", "status": "not passed", "reading": true, "writing": true, "speaking": false, "listening": true, "score_raw": 0, "items_order_info": "Quiz" } ] } } }, "responses": "l0e1q0r1,", "quiz_score": "-1", "time_spent": "105.231", "cwd_progress": "", "giw_progress": "", "gwr_progress": "", "hng_progress": "", "kar_progress": "", "last_attempt": "2018-6-8", "mch_progress": { "attempts": [ ], "responses": [ ] }, "oed_progress": "", "spk_progress": "", "ttt_progress": "", "typ_progress": "", "reading_score": "11", "writing_score": "0", "group_location": "2", "restore_states": "l0e1", "speaking_score": "0", "listening_score": "20", "shown_pre_screen": "l0e0p0,l0e1p0,l0e2p0,l0e3p0,l0e4p0,l0e5p0,l0e6p0,l0e7p0,l0e8p0,l0e9p0,l0e10p0,l0e11p0", "dragdrop_progress": ",l0e11q2r0|q1,l0e11q4r0|q5,l0e11q3r0|q0,l0e11q0r0|q3,l0e11q1r0|q2,l0e11q5r0|q4", "exercise_attempts": "l0e0a0,l0e1a2,l0e2a0,l0e3a0,l0e4a0,l0e5a0,l0e6a0,l0e7a0,l0e8a0,l0e9a0,l0e10a0,l0e11a0", "rec_dragdrop_progress": "", "feedback_showing_answer": "l0e1", "group_selected_exercise": "g0e0,g1e0,g2e0,g3e0,g4e0,g5e0,g6e0" }'

In [3]:
json_input = json.loads(json_input)

In [4]:
course_id = json_input['datamodel']['cmi']['core']['course_id']
student_id = json_input['datamodel']['cmi']['core']['student_id']

In [5]:
items = json_input['datamodel']['cmi']['objectives']['items']

In [6]:
dataframe_list = []
for item in items:
    # Extracting certain columns and making a dataframe
    data_list = [course_id, student_id, item['type'], item['status'], item['listening'], item['reading'], item['writing'], item['speaking']]
    dataframe_list.append(data_list)

In [7]:
columns = ['course_id', 'student_id', 'type', 'status', 'listening', 'reading', 'writing', 'speaking']

In [8]:
import pandas as pd
df = pd.DataFrame(dataframe_list, columns=columns)
df

,course_id,student_id,type,status,listening,reading,writing,speaking
0,75001,9,MT1,failed,False,True,False,False
1,75001,9,TYP,not passed,True,True,True,False
2,75001,9,SR1,not passed,True,True,False,True
3,75001,9,DMC,not passed,True,True,False,False
4,75001,9,MMM,not passed,False,True,False,False
5,75001,9,MRW,not passed,False,True,False,False
6,75001,9,DMC,not passed,False,True,False,False
7,75001,9,TYP,not passed,True,True,True,False